<br><br>
<div style="text-align: center">
    <!-- Will You Please leave Below's link here? It helps me alot! Removing it will make me sad 😞 -->
	Modified with 💙 by ==> <a href="https://youtube.com/c/BhartiyaHacker"
    <!--      An Open Source Project     -->
    <!--       Maintained By LUCIFER       -->
    <!-- https://github.com/Bhartiya-Hacker/Liz-RAT -->
</div>

<br><br>
